/*color palette: https://www.canva.com/colors/color-palettes/foil-covered-sneakers/ */
/*help for colors: https://encycolorpedia.com/ */

/*GENERAL*/

body {
    background-color: #E9EAEC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    padding: 20px;
}

h1 {
    font-family: "VT323", monospace;
    font-size: 40px;
}

h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333652
}

figure {
    width: fit-content;
    margin: 1px;
}

figcaption {
    font-size: 12px;
    text-align: center;
}

#idsheet {
    width:80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

hr {
    height: 1px;
    background-color: #90ADC6;
    border-color: #90ADC6;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #90ADC6;
}

a:active {
    color: #FAD02C;
}

/*HEADER*/
#header {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

#profilepic {
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: middle;
    margin-right: 30px;
}

#avatar {
    width: 100px;
    height: 100px;
    border: double 3px;
    box-shadow: 2px 2px gray;
}

.avatar {
    width: 100px;
    height: 100px;
}

#statsbars {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.stat {
    padding: 0;
    margin: 3px;
}

.marker {
    background-color: rgb(51,54,82);
    height: 20px;
    width: 200px;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    opacity: 30%;
}

.barphysical {
    background-color: #333652;
    height: 20px;
    width: 55px;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    position: absolute;
    margin-top: -20px;
}

.barmental {
    background-color: #333652;
    height: 20px;
    width: 150px;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    position: absolute;
    margin-top: -20px;
}

.barsocial {
    background-color: #333652;
    height: 20px;
    width: 90px;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    position: absolute;
    margin-top: -20px;
}

/*ID CARD*/

.spec {
    text-align: left;
    width: 40%;
}

.specvalue {
    text-align: justify;
    width: 60%;
}

.item p {
    display: inline-block;
    vertical-align: middle;
}

/*FORM SECTION*/

#formsection {
    width:80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    background-color: #E9EAEC;
    border: solid 0.5px;
    padding: 4px;
    width: fit-content;
}

button {
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid 2px grey;
    border-style: outset;
    background-color: #c7c8c9;
    color: #333652;
    font-family: Helvetica;
}

/*FOOTER*/

.contact {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    font-size: 12px;
}